.img{
    width: 400px;
    height: 400px; 
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}
.div{
    width: 285px;
    height: 30px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1{
    width: 100px;
    height: 50px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    font-size: 20px;
}
.div2{
    width: 960px;
    height: 400px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    margin: auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-evenly;
}
.div3{
    width: 1500px;
    height: 100px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    margin: auto;
}
.div4{
    width: 433px;
    height: 275px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
}
.p{
    color: rgb(147, 147, 147);
    font-size: 30px;
}
.div5{
    width: 300px;
    height: 60px;
    background-color: brown;
    border-radius: 40px;
    display: flex;
    justify-content: start;
    gap: 20px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.p1{
    font-size: 20px;
}
.div6{
    width: 300px;
    height: 60px;
    background-color: brown;
    border-radius: 40px;
    display: flex;
    justify-content: start;
    gap: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}
.p2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1{
    width: 55px;
    height: 55px;
    border-radius: 50%; 
    padding: 2px;
}
.div7{
    width: 300px;
    height: 60px;
    background-color: brown;
    border-radius: 40px;
    display: flex;
    justify-content: start;
    gap: 20px;
    text-align: center;
    margin: auto;
    margin-top: 5px;
}
.p3{
    display: flex;
    justify-content: center;
    align-items: center;
}